.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin: 10px;
}
.App-logo-dance {
  animation: App-logo-bounce infinite 4s linear;
  height: 8vmin;
  pointer-events: none;
  margin: 10px;
}

.loading {
  animation: App-loading-rotate infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.apply {
  align-self: flex-start;
}

@keyframes App-logo-bounce {
  0% {
    transform: scaleX(1.00) scaleY(1.00);
  }
  50% {
    transform: scaleX(1.20) scaleY(1.20);
  }
  100% {
    transform: scaleX(1.00) scaleY(1.00);
  }
}

@keyframes App-loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
